# Confidence Interval Assessment

<img src="images/assessment.jpg"/>

In this assessment, you will look at data from a study on toddler sleep habits. 

The confidence intervals you create and the questions you answer in this Jupyter notebook will be used to answer questions in the following graded assignment.

Your goal is to analyse data which is the result of a study that examined
differences in a number of sleep variables between napping and non-napping toddlers. Some of these
sleep variables included: Bedtime (lights-off time in decimalized time), Night Sleep Onset Time (in
decimalized time), Wake Time (sleep end time in decimalized time), Night Sleep Duration (interval
between sleep onset and sleep end in minutes), and Total 24-Hour Sleep Duration (in minutes). Note:
[Decimalized time](https://en.wikipedia.org/wiki/Decimal_time) is the representation of the time of day using units which are decimally related.   


The 20 study participants were healthy, normally developing toddlers with no sleep or behavioral
problems. These children were categorized as napping or non-napping based upon parental report of
childrenâ€™s habitual sleep patterns. Researchers then verified napping status with data from actigraphy (a
non-invasive method of monitoring human rest/activity cycles by wearing of a sensor on the wrist) and
sleep diaries during the 5 days before the study assessments were made.


You are specifically interested in the results for the Bedtime, Night Sleep Duration, and Total 24-
Hour Sleep Duration. 

Reference: Akacem LD, Simpkin CT, Carskadon MA, Wright KP Jr, Jenni OG, Achermann P, et al. (2015) The Timing of the Circadian Clock and Sleep Differ between Napping and Non-Napping Toddlers. PLoS ONE 10(4): e0125181. https://doi.org/10.1371/journal.pone.0125181

### Import Labraries

In [1]:
import numpy as np
import pandas as pd
from scipy.stats import t
pd.set_option('display.max_columns', 30) # See all columns of the DataFrame

### Get the Data

In [6]:
# Import the data
df = pd.read_csv("data/nap_no_nap.csv") 
df.head()

,id,sex,age (months),dlmo time,days napped,napping,nap lights outl time,nap sleep onset,nap midsleep,nap sleep offset,nap wake time,nap duration,nap time in bed,night bedtime,night sleep onset,sleep onset latency,night midsleep time,night wake time,night sleep duration,night time in bed,24 h sleep duration,bedtime phase difference,sleep onset phase difference,midsleep phase difference,wake time phase difference
0,1,female,33.7,19.24,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.45,20.68,0.23,1.92,7.17,629.4,643.0,629.4,-1.21,-1.44,6.68,11.93
1,2,female,31.5,18.27,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.23,19.48,0.25,1.09,6.69,672.4,700.4,672.4,-0.96,-1.21,6.82,12.42
2,3,male,31.9,19.14,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.60,20.05,0.45,1.29,6.53,628.8,682.6,628.8,-0.46,-0.91,6.15,11.39
3,4,female,31.6,19.69,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.46,19.50,0.05,1.89,8.28,766.6,784.0,766.6,0.23,0.19,6.20,12.59
4,5,female,33.0,19.52,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.21,19.65,0.45,1.30,6.95,678.0,718.0,678.0,0.31,-0.13,5.78,11.43

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            20 non-null     int64
 1   sex                           20 non-null     object
 2   age (months)                  20 non-null     float64
 3   dlmo time                     20 non-null     float64
 4   days napped                   20 non-null     int64
 5   napping                       20 non-null     int64
 6   nap lights outl time          15 non-null     float64
 7   nap sleep onset               15 non-null     float64
 8   nap midsleep                  15 non-null     float64
 9   nap sleep offset              15 non-null     float64
 10  nap wake time                 15 non-null     float64
 11  nap duration                  15 non-null     float64
 12  nap time in bed               15 non-null     float64
 13  night bedtime                 20 non-null     float64
 14  night sleep onset             20 non-null     float64
 15  sleep onset latency           20 non-null     float64
 16  night midsleep time           20 non-null     float64
 17  night wake time               20 non-null     float64
 18  night sleep duration          20 non-null     float64
 19  night time in bed             20 non-null     float64
 20  24 h sleep duration           20 non-null     float64
 21  bedtime phase difference      20 non-null     float64
 22  sleep onset phase difference  20 non-null     float64
 23  midsleep phase difference     20 non-null     float64
 24  wake time phase difference    20 non-null     float64
dtypes: float64(21), int64(3), object(1)
memory usage: 4.0+ KB

**Question**: What variable is used in the column 'napping' to indicate a toddler takes a nap?

**Answer:** 1 to "nap" and 0 to "no nap".

**Question**: What is the sample size $n$? What is the sample size for toddlers who nap, $n_1$, and toddlers who don't nap, $n_2$?

In [12]:
df['napping'].value_counts()

1    15
0     5
Name: napping, dtype: int64

**Answer:** n=20, n1=15, n2=5.

### Average bedtime confidence interval for napping and non napping toddlers
Create two 95% confidence intervals for the average bedtime, one for toddler who nap and one for toddlers who don't.

Before any analysis, we will convert 'night bedtime' into decimalized time.

In [17]:
# Convert 'night bedtime' into decimalized time
df.loc[:,'night bedtime'] = np.floor(df['night bedtime'])*60 + np.round(df['night bedtime']%1,2 )*100

df['night bedtime'].head()

0    268920000.0
1    251208000.0
2    259200000.0
3    256176000.0
4    250776000.0
Name: night bedtime, dtype: float64

Now, isolate the column 'night bedtime' for those who nap into a new variable, and those who didn't nap into another new variable.